# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    tile_ScrapBlock_ScrapBlock {
        S:01.Name=recycling:ScrapBlock
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=loose
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_FertileLand_tile_FertileLand {
        S:01.Name=recycling:tile.FertileLand
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=loose
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_PileOfRubble_tile_PileOfRubble {
        S:01.Name=recycling:tile.PileOfRubble
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_Lawn_tile_Lawn {
        S:01.Name=recycling:tile.Lawn
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=1.0
        D:09.Sanity=0.1
        S:10.Stability=loose
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_EnergeticRedstoneOre_tile_EnergeticRedstoneOre {
        S:01.Name=recycling:tile.EnergeticRedstoneOre
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_MachineThermalRecycler_MachineThermalRecycler {
        S:01.Name=recycling:MachineThermalRecycler
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_MachineScrapAssessor_MachineScrapAssessor {
        S:01.Name=recycling:MachineScrapAssessor
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_MachineComposter_MachineComposter {
        S:01.Name=recycling:MachineComposter
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_MachineVending_MachineVending {
        S:01.Name=recycling:MachineVending
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_MachineVendingTop_MachineVendingTop {
        S:01.Name=recycling:MachineVendingTop
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_MachineBatteryRack_MachineBatteryRack {
        S:01.Name=recycling:MachineBatteryRack
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom effects for items
##########################################################################################################

items {

    item_cratedDebris_cratedDebris {
        S:01.Name=recycling:cratedDebris
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_cratedPoorScrap_cratedPoorScrap {
        S:01.Name=recycling:cratedPoorScrap
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_cratedPoorScrapBox_cratedPoorScrapBox {
        S:01.Name=recycling:cratedPoorScrapBox
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_cratedStandardScrap_cratedStandardScrap {
        S:01.Name=recycling:cratedStandardScrap
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_cratedStandardScrapBox_cratedStandardScrapBox {
        S:01.Name=recycling:cratedStandardScrapBox
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_cratedSuperiorScrap_cratedSuperiorScrap {
        S:01.Name=recycling:cratedSuperiorScrap
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    item_cratedSuperiorScrapBox_cratedSuperiorScrapBox {
        S:01.Name=recycling:cratedSuperiorScrapBox
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

}


##########################################################################################################
# spoiling
#--------------------------------------------------------------------------------------------------------#
# Set the properties of spoliable items
##########################################################################################################

spoiling {

    item_soylentGreen_soylentGreen {
        S:01.ID=recycling:soylentGreen
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=0

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=7
    }

    item_soylentYellow_soylentYellow {
        S:01.ID=recycling:soylentYellow
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=0

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=7
    }

    item_soylentRed_soylentRed {
        S:01.ID=recycling:soylentRed
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=0

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=7
    }

}


