# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    tile_storagedrawerserebus_fullDrawers1_fullDrawers1 {
        S:01.Name=StorageDrawersErebus:fullDrawers1
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_fullDrawers2_fullDrawers2 {
        S:01.Name=StorageDrawersErebus:fullDrawers2
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_fullDrawers4_fullDrawers4 {
        S:01.Name=StorageDrawersErebus:fullDrawers4
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_halfDrawers2_halfDrawers2 {
        S:01.Name=StorageDrawersErebus:halfDrawers2
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_halfDrawers4_halfDrawers4 {
        S:01.Name=StorageDrawersErebus:halfDrawers4
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_trim_trim {
        S:01.Name=StorageDrawersErebus:trim
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_trim_trimSort {
        S:01.Name=StorageDrawersErebus:trimSort
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_fullDrawers1_fullDrawersSort1 {
        S:01.Name=StorageDrawersErebus:fullDrawersSort1
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_fullDrawers4_fullDrawersSort4 {
        S:01.Name=StorageDrawersErebus:fullDrawersSort4
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_fullDrawers2_fullDrawersSort2 {
        S:01.Name=StorageDrawersErebus:fullDrawersSort2
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_halfDrawers4_halfDrawersSort4 {
        S:01.Name=StorageDrawersErebus:halfDrawersSort4
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_storagedrawerserebus_halfDrawers2_halfDrawersSort2 {
        S:01.Name=StorageDrawersErebus:halfDrawersSort2
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Custom effects for items
##########################################################################################################

items {

    tile_storagedrawerserebus_fullDrawers1_fullDrawers1 {
        S:01.Name=StorageDrawersErebus:fullDrawers1
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    tile_storagedrawerserebus_fullDrawers2_fullDrawers2 {
        S:01.Name=StorageDrawersErebus:fullDrawers2
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    tile_storagedrawerserebus_fullDrawers4_fullDrawers4 {
        S:01.Name=StorageDrawersErebus:fullDrawers4
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    tile_storagedrawerserebus_halfDrawers2_halfDrawers2 {
        S:01.Name=StorageDrawersErebus:halfDrawers2
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    tile_storagedrawerserebus_halfDrawers4_halfDrawers4 {
        S:01.Name=StorageDrawersErebus:halfDrawers4
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

    tile_storagedrawerserebus_trim_trim {
        S:01.Name=StorageDrawersErebus:trim
        I:02.Damage=-1
        B:"03.Enable Ambient Temperature"=false
        D:"04.Ambient Temperature"=37.0
        D:"05.Ambient Air Quality"=0.0
        D:"06.Ambient Santity"=0.0
        D:"07.Effect Temperature"=0.0
        D:"08.Effect Air Quality"=0.0
        D:"09.Effect Sanity"=0.0
        D:"10.Effect Hydration"=0.0
        D:"11.Effect Temperature Cap"=37.0
        I:"12.CamelPack Fill Amount"=0
        S:"13.CamelPack Return Item"=
        I:"14.CamelPack Return Meta"=0
    }

}


