# Configuration file

##########################################################################################################
# armor
#--------------------------------------------------------------------------------------------------------#
# Modify the effects armor has on entities when worn
##########################################################################################################

armor {

    "item_WG_AdvancedRobeChest_[Ljava_lang_String;@18e9f638" {
        S:01.ID=WitchingGadgets:item.WG_AdvancedRobeChest
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"10.Allow Camel Pack"=true
    }

    "item_WG_AdvancedRobeLegs_[Ljava_lang_String;@7d709572" {
        S:01.ID=WitchingGadgets:item.WG_AdvancedRobeLegs
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    "item_WG_PrimordialBoots_[Ljava_lang_String;@4ccc3661" {
        S:01.ID=WitchingGadgets:item.WG_PrimordialBoots
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    "item_WG_PrimordialHelm_[Ljava_lang_String;@e48e9b3" {
        S:01.ID=WitchingGadgets:item.WG_PrimordialHelm
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

    "item_WG_PrimordialChest_[Ljava_lang_String;@776a260d" {
        S:01.ID=WitchingGadgets:item.WG_PrimordialChest
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
        B:"10.Allow Camel Pack"=true
    }

    "item_WG_PrimordialLegs_[Ljava_lang_String;@5ab869bf" {
        S:01.ID=WitchingGadgets:item.WG_PrimordialLegs
        D:"02.Temp Add - Night"=0.0
        D:"03.Temp Add - Shade"=0.0
        D:"04.Temp Add - Sun"=0.0
        D:"05.Temp Multiplier - Night"=1.0
        D:"06.Temp Multiplier - Shade"=1.0
        D:"07.Temp Multiplier - Sun"=1.0
        D:08.Sanity=0.0
        D:09.Air=0.0
    }

}


##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Customise the physical properties and environmental effects of blocks
##########################################################################################################

blocks {

    tile_WG_VoidWalkway_WG_VoidWalkway {
        S:01.Name=WitchingGadgets:WG_VoidWalkway
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_WG_MetalDevice_WG_MetalDevice {
        S:01.Name=WitchingGadgets:WG_MetalDevice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_WG_WoodenDevice_WG_WoodenDevice {
        S:01.Name=WitchingGadgets:WG_WoodenDevice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=strong
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_WG_WallMirror_WG_WallMirror {
        S:01.Name=WitchingGadgets:WG_WallMirror
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_WG_StoneDevice_WG_StoneDevice {
        S:01.Name=WitchingGadgets:WG_StoneDevice
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=average
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_WG_CustomAir_WG_CustomAir {
        S:01.Name=WitchingGadgets:WG_CustomAir
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=0.0
        D:09.Sanity=0.0
        S:10.Stability=loose
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

    tile_WG_RoseVine_WG_RoseVine {
        S:01.Name=WitchingGadgets:WG_RoseVine
        I:02.MetaID=-1
        S:03.DropName=
        I:04.DropMetaID=-1
        I:05.DropNumber=-1
        B:"06.Enable Temperature"=false
        D:07.Temperature=0.0
        D:"08.Air Quality"=1.0
        D:09.Sanity=0.1
        S:10.Stability=none
        B:11.Slides=false
        B:"12.Slides When Wet"=false
    }

}


##########################################################################################################
# spoiling
#--------------------------------------------------------------------------------------------------------#
# Set the properties of spoliable items
##########################################################################################################

spoiling {

    item_WG_MagicFood_item_WG_MagicFood {
        S:01.ID=WitchingGadgets:item.WG_MagicFood
        I:02.Damage=-1

        # Set blank to rot into nothing
        S:"03.Rotten ID"=enviromine:rottenFood
        I:"04.Rotten Damage"=0

        # Set this to -1 to disable rotting on this item
        I:"05.Days To Rot"=7
    }

}


