#settings.server
#Tue Jan 01 19:58:24 AEDT 2019
regexIgnoreBool=false
ignoredChannels=
delimColorCode=DEFAULT
pmTabRegex.toMe=
delimColorBool=false
delimFormatCode=DEFAULT
delimFormatBool=false
autoPMSearch=true
delimiterChars=BRACKETS
defaultChannels=
pmTabRegex.fromMe=
autoChannelSearch=true
