# Configuration file

Abyssalnite {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Adamantine {
    I:"Amount of blocks needed for a singularity"=50
    B:Enabled=true
}


Adamantite {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Adamantium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Aluminium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


AnyCopper {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


AnyIron {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Ardite {
    I:"Amount of blocks needed for a singularity"=200
    B:Enabled=true
}


Beryllium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Bismuth {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Boron {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Carbon {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Cobalt {
    I:"Amount of blocks needed for a singularity"=200
    B:Enabled=true
}


Crystal {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


DarkIron {
    I:"Amount of blocks needed for a singularity"=300
    B:Enabled=true
}


DarkSteel {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Desh {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Draconium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Fronisium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


FrozenIron {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Graphite {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


HeeEndium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


InfusedGold {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Iridium {
    I:"Amount of blocks needed for a singularity"=50
    B:Enabled=true
}


Ironwood {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Knightmetal {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


LiquifiedCoralium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Lithium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Magnesium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Manganese {
    I:"Amount of blocks needed for a singularity"=300
    B:Enabled=true
}


Mercury {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Metallic {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


MeteoricIron {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Molybdenum {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Mythril {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Naquadah {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


NaquadahEnriched {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Neodymium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Norium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Obsidian {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Osmium {
    I:"Amount of blocks needed for a singularity"=200
    B:Enabled=true
}


Palladium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Plutonium {
    I:"Amount of blocks needed for a singularity"=50
    B:Enabled=true
}


Quontonium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Shadow {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Silicon {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Steel {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Sulfur {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Thorium {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Titanium {
    I:"Amount of blocks needed for a singularity"=200
    B:Enabled=true
}


Tungsten {
    I:"Amount of blocks needed for a singularity"=200
    B:Enabled=true
}


Uranium {
    I:"Amount of blocks needed for a singularity"=200
    B:Enabled=true
}


Uranium235 {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


Zinc {
    I:"Amount of blocks needed for a singularity"=400
    B:Enabled=true
}


