# Configuration file

AOBDBB {
    B:"Can bushes be bonemealed to generate new berries"=false
    B:"Do Bushes Prick"=false
}


Aluminum {
    S:"Bush Colour"=0xc6c4d2
    I:"Dimension Blacklist" <
        -1
        1
     >
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Ardite {
    S:"Bush Colour"=0xf48a00

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


Boron {
    S:"Bush Colour"=0x616161

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Carbon {
    S:"Bush Colour"=0x6b6b6b

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Cobalt {
    S:"Bush Colour"=0x2376dd

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
        -1
     >
    B:Enabled=true
    D:"Gen chance"=0.0033333333333333335
    D:"Growth chance"=0.013333333333333334
    I:"Max Y"=120
    I:"Max vein size"=4
    I:"Min Y"=0
}


Copper {
    S:"Bush Colour"=0xef6600
    I:"Dimension Blacklist" <
        -1
        1
     >
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Crystal {
    S:"Bush Colour"=0xcacaca

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Draconium {
    S:"Bush Colour"=0xbca2d4

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Gold {
    S:"Bush Colour"=0xe6dc98
    I:"Dimension Blacklist" <
        -1
        1
     >
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Iridium {
    S:"Bush Colour"=0xececec

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Iron {
    S:"Bush Colour"=0xc9c9c9
    I:"Dimension Blacklist" <
        -1
        1
     >
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Lead {
    S:"Bush Colour"=0x60677b

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Lithium {
    S:"Bush Colour"=0x8b8b8b

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Magnesium {
    S:"Bush Colour"=0xb1a9ad

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Mercury {
    S:"Bush Colour"=0xc0c0c0

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Mithril {
    S:"Bush Colour"=0x56819b

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Nickel {
    S:"Bush Colour"=0xa9a995

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Obsidian {
    S:"Bush Colour"=0x8d77af

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Osmium {
    S:"Bush Colour"=0x8292a7

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Palladium {
    S:"Bush Colour"=0xf1f1f1

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Platinum {
    S:"Bush Colour"=0x86c7e8

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Plutonium {
    S:"Bush Colour"=0x948dda

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Shadow {
    S:"Bush Colour"=0x6c6a7f

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Silver {
    S:"Bush Colour"=0xb8c3c8

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Steel {
    S:"Bush Colour"=0x848484

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Thorium {
    S:"Bush Colour"=0x1d1d1d

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Tin {
    S:"Bush Colour"=0xd8bfaa
    I:"Dimension Blacklist" <
        -1
        1
     >
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Titanium {
    S:"Bush Colour"=0x8b949f

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Tungsten {
    S:"Bush Colour"=0xcfcfcf

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.005
    D:"Growth chance"=0.02
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Uranium {
    S:"Bush Colour"=0x2d7942

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Yellorium {
    S:"Bush Colour"=0xd8dd94

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


Zinc {
    S:"Bush Colour"=0xd3d3d3

    # Won't be used unless whitelist is empty.
    I:"Dimension Blacklist" <
        -1
        1
     >

    # If empty left empty, blacklist will be used instead.
    I:"Dimension Whitelist" <
     >
    B:Enabled=true
    D:"Gen chance"=0.01
    D:"Growth chance"=0.04
    I:"Max Y"=40
    I:"Max vein size"=4
    I:"Min Y"=0
}


