# Configuration file

"mod pack name" {
    S:modPackName=AUPlay 1.7.10 SkyBlock Pack
}


"mod pack notes" {
    S:modPackNotes <
        Each Line
        Is A Seperate Line
     >
}


"mod pack version" {
    S:modPackVersion=v2.0
}


