# Configuration file

##########################################################################################################
# space stations
#--------------------------------------------------------------------------------------------------------#
# Disabling this will remove the space station from the planet
##########################################################################################################

"space stations" {
    B:"Diona SpaceStation"=true
    B:"Fronos SpaceStation"=true
    B:"Kapteyn B SpaceStation"=true
    B:"Mercury SpaceStation"=true
    B:"Nibiru SpaceStation"=true
    B:"Pluto SpaceStation"=true
    B:"Polongnius SpaceStation"=true
    B:"Sirius B SpaceStation"=true
    B:"Venus SpaceStation"=true
}


##########################################################################################################
# space stations dimension ids
#--------------------------------------------------------------------------------------------------------#
# Change if a dimension ID is causing conflicts!
##########################################################################################################

"space stations dimension ids" {
    I:"Diona SpaceStation Dimension ID"=-3007
    I:"Diona SpaceStation Static Dimension ID"=-3008
    I:"Fronos SpaceStation Dimension ID"=-3009
    I:"Fronos SpaceStation Static Dimension ID"=-3010
    I:"Kapteyn B SpaceStation Dimension ID"=-3017
    I:"Kapteyn B SpaceStation Static Dimension ID"=-3018
    I:"Mercury SpaceStation Dimension ID"=-3001
    I:"Mercury SpaceStation Static Dimension ID"=-3002
    I:"Nibiru SpaceStation Dimension ID"=-3011
    I:"Nibiru SpaceStation Static Dimension ID"=-3012
    I:"Pluto SpaceStation Dimension ID"=-3005
    I:"Pluto SpaceStation Static Dimension ID"=-3006
    I:"Polongnius SpaceStation Dimension ID"=-3013
    I:"Polongnius SpaceStation Static Dimension ID"=-3014
    I:"Sirius B SpaceStation Dimension ID"=-3015
    I:"Sirius B SpaceStation Static Dimension ID"=-3016
    I:"Venus SpaceStation Dimension ID"=-3003
    I:"Venus SpaceStation Static Dimension ID"=-3004
}


