# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=f22f9c90-04ca-4e9a-8087-0c388b06bd4b

    # Set to true to disable all reporting
    B:opt-out=true
}


