# Configuration file

blocks {
    B:advDeconTable=true
    B:basalt=true
    B:biomeMorpher=true
    B:bloodDynamo=true
    B:bloodFabricator=true
    B:catalyst=true
    B:condenserBlock=true
    B:cosmeticOpaque=true
    B:cosmeticPane=true
    B:creativeJar=true
    B:crystalBlock=true
    B:eldritchConsumer=true
    B:electricBellows=true
    B:essentiaContainer=true
    B:essentiaDynamo=true
    B:existenceBurner=true
    B:existenceFountain=true
    B:existencePylon=true
    B:existenceUser=true
    B:flowerDynamo=true
    B:fluxLamp=true
    B:fusor=true
    B:itemTransmitter=true
    B:manaExchanger=true
    B:manaFabricator=true
    B:manaFluid=true
    B:nodeDynamo=true
    B:nodeGenerator=true
    B:processorBM=true
    B:processorBO=true
    B:processorTC=true
    B:reservoir=true
    B:teslaCoil=true
}


hud {
    B:ShowHUD=false
    I:StartX=16
    I:StartY=88
}


items {
    B:coilCoupler=true
    B:essentiaCannon=true
    B:existenceGem=true
    B:fusionFocus=true
    B:itemBM=true
    B:itemBO=true
    B:itemBoost=true
    B:itemMaterial=true
    B:itemScepter=true
    B:pen=true
    B:ritualTome=true

    # Enhanced villagers will only be enabled if this option AND the treasures option are true. Note, some of the villagers can cause large scale damage, you have been warned!
    B:treasureSafeguard=false
    B:treasures=true
    B:wandCores=true
}


machines {
    I:"Blacklisted materials for use in the Essentia Reconstructor" <
     >
}


misc {
    B:DebugFunction=false
    B:"Mekanism Recipes Will Override TE Ones"=false
}


potions {
    I:drown=82
    I:slowFall=83
}


pureores {
    B:pureAluminum=true
    S:pureAluminumColor=0xbcbcbc
    S:pureAluminumIngots=2,3,4,5,6,7
    S:pureAluminumName=Aluminum
    B:pureBoron=true
    S:pureBoronColor=0x616161
    S:pureBoronIngots=2,3,4,5,6,7
    S:pureBoronName=Boron
    B:pureCarbon=true
    S:pureCarbonColor=0x6b6b6b
    S:pureCarbonIngots=2,3,4,5,6,7
    S:pureCarbonName=Carbon
    B:pureCopper=true
    S:pureCopperColor=0xad743a
    S:pureCopperIngots=2,3,4,5,6,7
    S:pureCopperName=Copper
    B:pureCrystal=true
    S:pureCrystalColor=0xcacaca
    S:pureCrystalIngots=2,3,4,5,6,7
    S:pureCrystalName=Crystal
    B:pureDesh=true
    S:pureDeshColor=0x595959
    S:pureDeshIngots=2,3,4,5,6,7
    S:pureDeshName=Desh
    B:pureGold=true
    S:pureGoldColor=0xe6dc98
    S:pureGoldIngots=2,3,4,5,6,7
    S:pureGoldName=Gold
    B:pureIron=true
    S:pureIronColor=0xc9c9c9
    S:pureIronIngots=2,3,4,5,6,7
    S:pureIronName=Iron
    B:pureLead=true
    S:pureLeadColor=0x60677b
    S:pureLeadIngots=2,3,4,5,6,7
    S:pureLeadName=Lead
    B:pureLithium=true
    S:pureLithiumColor=0x8b8b8b
    S:pureLithiumIngots=2,3,4,5,6,7
    S:pureLithiumName=Lithium
    B:pureMagnesium=true
    S:pureMagnesiumColor=0xb1a9ad
    S:pureMagnesiumIngots=2,3,4,5,6,7
    S:pureMagnesiumName=Magnesium
    B:pureMercury=true
    S:pureMercuryColor=0xc0c0c0
    S:pureMercuryIngots=2,3,4,5,6,7
    S:pureMercuryName=Mercury
    B:pureMithril=true
    S:pureMithrilColor=0x56819b
    S:pureMithrilIngots=2,3,4,5,6,7
    S:pureMithrilName=Mithril
    B:pureNickel=true
    S:pureNickelColor=0xa9a995
    S:pureNickelIngots=2,3,4,5,6,7
    S:pureNickelName=Nickel
    B:pureOsmium=true
    S:pureOsmiumColor=0x8292a7
    S:pureOsmiumIngots=2,3,4,5,6,7
    S:pureOsmiumName=Osmium
    B:purePalladium=true
    S:purePalladiumColor=0xf1f1f1
    S:purePalladiumIngots=2,3,4,5,6,7
    S:purePalladiumName=Palladium
    B:purePlatinum=true
    S:purePlatinumColor=0x86c7e8
    S:purePlatinumIngots=2,3,4,5,6,7
    S:purePlatinumName=Platinum
    B:pureShadow=true
    S:pureShadowColor=0x6c6a7f
    S:pureShadowIngots=2,3,4,5,6,7
    S:pureShadowName=Shadow
    B:pureSilver=true
    S:pureSilverColor=0xb8c3c8
    S:pureSilverIngots=2,3,4,5,6,7
    S:pureSilverName=Silver
    B:pureThorium=true
    S:pureThoriumColor=0x1d1d1d
    S:pureThoriumIngots=2,3,4,5,6,7
    S:pureThoriumName=Thorium
    B:pureTin=true
    S:pureTinColor=0xbfc5ca
    S:pureTinIngots=2,3,4,5,6,7
    S:pureTinName=Tin
    B:pureTitanium=true
    S:pureTitaniumColor=0x8b949f
    S:pureTitaniumIngots=2,3,4,5,6,7
    S:pureTitaniumName=Titanium
    B:pureTungsten=true
    S:pureTungstenColor=0xcfcfcf
    S:pureTungstenIngots=2,3,4,5,6,7
    S:pureTungstenName=Tungsten
    B:pureUranium=true
    S:pureUraniumColor=0x2d7942
    S:pureUraniumIngots=2,3,4,5,6,7
    S:pureUraniumName=Uranium
    B:pureZinc=true
    S:pureZincColor=0xd3d3d3
    S:pureZincIngots=2,3,4,5,6,7
    S:pureZincName=Zinc
}


rate {
    I:BiomeMorpher=20000
    I:BloodFabricator=1000000
    I:Condenser=1000000
    I:EldritchConsumer=20000
    I:ElectricBellows=500
    I:EssentiaFusor=1000
    I:ManaExchanger=1000
    I:ManaFabricator=1000000
}


recipes {
    B:"Add/Increase Smelting bonus to dusts/ore"=true
}


renderers {
    B:CoilFX=true
}


